.float--left {
    float: left;
}

.float--right {
    float: right;
}

a {
    text-decoration: none;
}


/* HEADER */
.header__inner {
    width: 1130px;
    height: 161px;
    margin: 0 auto;
}

header .logo {
    width: 222px;
    height: 52px;
}

header .search-all {
    width: 586px;
    height: 56px;
    border: 2px solid #19ce60;
    border-radius: 2px;
}

header .search-input {
    width: 474px;
    height: 50px;
    border: none;
}

header .fa-keyboard {
    color: #19ce60;
}

header .fa-sort-down {
    color: #19ce60;
}

header .search-btn {
    width: 56px;
    height: 56px;
    border: none;
    background-color: #19ce19;
    cursor: pointer;
}

header .right-menu {
    font-size: 11px;
}

header .set__start {
    color: #404040;
}

header .set__start:hover {
    text-decoration: underline;
}

header .arrow__right {
    color: #404040;
}

header .vertical-line {
    display: inline;
    border-left: 1.5px solid #E4E8EB;
    height: 11px;
    margin: 3px 7px;
}

header .juniver {
    color: #E4E8EB;
    font-weight: bold;
    margin: 3px;
}

header .happybin {
    color: #E4E8EB;
    font-weight: bold;
    margin-left: 6px;
}

/* NAV */
nav {
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

nav .nav__inner {
    margin: 0 auto;
    width: 1130px;
    height: 52px;
}

ul {
    list-style: none;
}